<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Master Regression Suite" preserve-order="true" parallel="tests">
    <!--groups>
        <run>
            <include name = "smoke"/>
            <exclude name="sanity"/>
        </run>
    </groups-->
    <parameter name="browgroup1" value="Chrome"></parameter>
    <parameter name="browgroup2" value="TE"></parameter>
    <!--parameter name="browgroup2" value="TE"></parameter-->

    <listeners>
        <listener class-name="Reporting_FrameworkLevel.Setup"></listener>
    </listeners>
    <test name="Orders Module">
    <classes>
        <!--class name="TestNG_Annotations.Class1"/-->
        <!--class name="TestNG_Annotations.Class2"/-->
        <class name="Practice_Package.PracticeClass"/>
        <class name="ITestResults.itestresults"/>

    </classes>
    </test>
</suite>
